.vscode/settings.json
.idea/.gitignore
.idea/DryDock.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
discord_js/index.js
discord_js/package-lock.json
discord_js/package.json
discord_js/node_modules/@discordjs/collection/LICENSE
discord_js/node_modules/@discordjs/collection/package.json
discord_js/node_modules/@discordjs/collection/README.md
discord_js/node_modules/@discordjs/collection/dist/index.d.ts
discord_js/node_modules/@discordjs/collection/dist/index.js
discord_js/node_modules/@discordjs/form-data/index.d.ts
discord_js/node_modules/@discordjs/form-data/License
discord_js/node_modules/@discordjs/form-data/package.json
discord_js/node_modules/@discordjs/form-data/Readme.md
discord_js/node_modules/@discordjs/form-data/lib/browser.js
discord_js/node_modules/@discordjs/form-data/lib/form_data.js
discord_js/node_modules/@discordjs/form-data/lib/populate.js
discord_js/node_modules/abort-controller/browser.js
discord_js/node_modules/abort-controller/browser.mjs
discord_js/node_modules/abort-controller/LICENSE
discord_js/node_modules/abort-controller/package.json
discord_js/node_modules/abort-controller/polyfill.js
discord_js/node_modules/abort-controller/polyfill.mjs
discord_js/node_modules/abort-controller/README.md
discord_js/node_modules/abort-controller/dist/abort-controller.d.ts
discord_js/node_modules/abort-controller/dist/abort-controller.js
discord_js/node_modules/abort-controller/dist/abort-controller.js.map
discord_js/node_modules/abort-controller/dist/abort-controller.mjs
discord_js/node_modules/abort-controller/dist/abort-controller.mjs.map
discord_js/node_modules/abort-controller/dist/abort-controller.umd.js
discord_js/node_modules/abort-controller/dist/abort-controller.umd.js.map
discord_js/node_modules/asynckit/bench.js
discord_js/node_modules/asynckit/index.js
discord_js/node_modules/asynckit/LICENSE
discord_js/node_modules/asynckit/package.json
discord_js/node_modules/asynckit/parallel.js
discord_js/node_modules/asynckit/README.md
discord_js/node_modules/asynckit/serial.js
discord_js/node_modules/asynckit/serialOrdered.js
discord_js/node_modules/asynckit/stream.js
discord_js/node_modules/asynckit/lib/abort.js
discord_js/node_modules/asynckit/lib/async.js
discord_js/node_modules/asynckit/lib/defer.js
discord_js/node_modules/asynckit/lib/iterate.js
discord_js/node_modules/asynckit/lib/readable_asynckit.js
discord_js/node_modules/asynckit/lib/readable_parallel.js
discord_js/node_modules/asynckit/lib/readable_serial_ordered.js
discord_js/node_modules/asynckit/lib/readable_serial.js
discord_js/node_modules/asynckit/lib/state.js
discord_js/node_modules/asynckit/lib/streamify.js
discord_js/node_modules/asynckit/lib/terminator.js
discord_js/node_modules/combined-stream/License
discord_js/node_modules/combined-stream/package.json
discord_js/node_modules/combined-stream/Readme.md
discord_js/node_modules/combined-stream/yarn.lock
discord_js/node_modules/combined-stream/lib/combined_stream.js
discord_js/node_modules/delayed-stream/.npmignore
discord_js/node_modules/delayed-stream/License
discord_js/node_modules/delayed-stream/Makefile
discord_js/node_modules/delayed-stream/package.json
discord_js/node_modules/delayed-stream/Readme.md
discord_js/node_modules/delayed-stream/lib/delayed_stream.js
discord_js/node_modules/discord.js/.tern-project
discord_js/node_modules/discord.js/jsdoc.json
discord_js/node_modules/discord.js/LICENSE
discord_js/node_modules/discord.js/package.json
discord_js/node_modules/discord.js/README.md
discord_js/node_modules/discord.js/esm/discord.mjs
discord_js/node_modules/discord.js/src/index.js
discord_js/node_modules/discord.js/src/WebSocket.js
discord_js/node_modules/discord.js/src/client/BaseClient.js
discord_js/node_modules/discord.js/src/client/Client.js
discord_js/node_modules/discord.js/src/client/WebhookClient.js
discord_js/node_modules/discord.js/src/client/actions/Action.js
discord_js/node_modules/discord.js/src/client/actions/ActionsManager.js
discord_js/node_modules/discord.js/src/client/actions/ChannelCreate.js
discord_js/node_modules/discord.js/src/client/actions/ChannelDelete.js
discord_js/node_modules/discord.js/src/client/actions/ChannelUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildBanRemove.js
discord_js/node_modules/discord.js/src/client/actions/GuildChannelsPositionUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildDelete.js
discord_js/node_modules/discord.js/src/client/actions/GuildEmojiCreate.js
discord_js/node_modules/discord.js/src/client/actions/GuildEmojiDelete.js
discord_js/node_modules/discord.js/src/client/actions/GuildEmojisUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildEmojiUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildIntegrationsUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildMemberRemove.js
discord_js/node_modules/discord.js/src/client/actions/GuildRoleCreate.js
discord_js/node_modules/discord.js/src/client/actions/GuildRoleDelete.js
discord_js/node_modules/discord.js/src/client/actions/GuildRolesPositionUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildRoleUpdate.js
discord_js/node_modules/discord.js/src/client/actions/GuildUpdate.js
discord_js/node_modules/discord.js/src/client/actions/InviteCreate.js
discord_js/node_modules/discord.js/src/client/actions/InviteDelete.js
discord_js/node_modules/discord.js/src/client/actions/MessageCreate.js
discord_js/node_modules/discord.js/src/client/actions/MessageDelete.js
discord_js/node_modules/discord.js/src/client/actions/MessageDeleteBulk.js
discord_js/node_modules/discord.js/src/client/actions/MessageReactionAdd.js
discord_js/node_modules/discord.js/src/client/actions/MessageReactionRemove.js
discord_js/node_modules/discord.js/src/client/actions/MessageReactionRemoveAll.js
discord_js/node_modules/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
discord_js/node_modules/discord.js/src/client/actions/MessageUpdate.js
discord_js/node_modules/discord.js/src/client/actions/PresenceUpdate.js
discord_js/node_modules/discord.js/src/client/actions/UserUpdate.js
discord_js/node_modules/discord.js/src/client/actions/VoiceStateUpdate.js
discord_js/node_modules/discord.js/src/client/actions/WebhooksUpdate.js
discord_js/node_modules/discord.js/src/client/voice/ClientVoiceManager.js
discord_js/node_modules/discord.js/src/client/voice/VoiceBroadcast.js
discord_js/node_modules/discord.js/src/client/voice/VoiceConnection.js
discord_js/node_modules/discord.js/src/client/voice/dispatcher/BroadcastDispatcher.js
discord_js/node_modules/discord.js/src/client/voice/dispatcher/StreamDispatcher.js
discord_js/node_modules/discord.js/src/client/voice/networking/VoiceUDPClient.js
discord_js/node_modules/discord.js/src/client/voice/networking/VoiceWebSocket.js
discord_js/node_modules/discord.js/src/client/voice/player/AudioPlayer.js
discord_js/node_modules/discord.js/src/client/voice/player/BasePlayer.js
discord_js/node_modules/discord.js/src/client/voice/player/BroadcastAudioPlayer.js
discord_js/node_modules/discord.js/src/client/voice/receiver/PacketHandler.js
discord_js/node_modules/discord.js/src/client/voice/receiver/Receiver.js
discord_js/node_modules/discord.js/src/client/voice/util/PlayInterface.js
discord_js/node_modules/discord.js/src/client/voice/util/Secretbox.js
discord_js/node_modules/discord.js/src/client/voice/util/Silence.js
discord_js/node_modules/discord.js/src/client/voice/util/VolumeInterface.js
discord_js/node_modules/discord.js/src/client/websocket/WebSocketManager.js
discord_js/node_modules/discord.js/src/client/websocket/WebSocketShard.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_CREATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_DELETE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_BAN_ADD.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_BAN_REMOVE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_CREATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_DELETE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_EMOJIS_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_INTEGRATIONS_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_ADD.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_REMOVE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_CREATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_DELETE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/GUILD_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/index.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/INVITE_CREATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/INVITE_DELETE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_CREATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_DELETE_BULK.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_DELETE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_ADD.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_ALL.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_EMOJI.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/PRESENCE_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/READY.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/RESUMED.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/TYPING_START.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/USER_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/VOICE_SERVER_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/VOICE_STATE_UPDATE.js
discord_js/node_modules/discord.js/src/client/websocket/handlers/WEBHOOKS_UPDATE.js
discord_js/node_modules/discord.js/src/errors/DJSError.js
discord_js/node_modules/discord.js/src/errors/index.js
discord_js/node_modules/discord.js/src/errors/Messages.js
discord_js/node_modules/discord.js/src/managers/BaseManager.js
discord_js/node_modules/discord.js/src/managers/ChannelManager.js
discord_js/node_modules/discord.js/src/managers/GuildChannelManager.js
discord_js/node_modules/discord.js/src/managers/GuildEmojiManager.js
discord_js/node_modules/discord.js/src/managers/GuildEmojiRoleManager.js
discord_js/node_modules/discord.js/src/managers/GuildManager.js
discord_js/node_modules/discord.js/src/managers/GuildMemberManager.js
discord_js/node_modules/discord.js/src/managers/GuildMemberRoleManager.js
discord_js/node_modules/discord.js/src/managers/MessageManager.js
discord_js/node_modules/discord.js/src/managers/PresenceManager.js
discord_js/node_modules/discord.js/src/managers/ReactionManager.js
discord_js/node_modules/discord.js/src/managers/ReactionUserManager.js
discord_js/node_modules/discord.js/src/managers/RoleManager.js
discord_js/node_modules/discord.js/src/managers/UserManager.js
discord_js/node_modules/discord.js/src/managers/VoiceStateManager.js
discord_js/node_modules/discord.js/src/rest/APIRequest.js
discord_js/node_modules/discord.js/src/rest/APIRouter.js
discord_js/node_modules/discord.js/src/rest/DiscordAPIError.js
discord_js/node_modules/discord.js/src/rest/HTTPError.js
discord_js/node_modules/discord.js/src/rest/RequestHandler.js
discord_js/node_modules/discord.js/src/rest/RESTManager.js
discord_js/node_modules/discord.js/src/sharding/Shard.js
discord_js/node_modules/discord.js/src/sharding/ShardClientUtil.js
discord_js/node_modules/discord.js/src/sharding/ShardingManager.js
discord_js/node_modules/discord.js/src/structures/APIMessage.js
discord_js/node_modules/discord.js/src/structures/Base.js
discord_js/node_modules/discord.js/src/structures/BaseGuildEmoji.js
discord_js/node_modules/discord.js/src/structures/CategoryChannel.js
discord_js/node_modules/discord.js/src/structures/Channel.js
discord_js/node_modules/discord.js/src/structures/ClientApplication.js
discord_js/node_modules/discord.js/src/structures/ClientPresence.js
discord_js/node_modules/discord.js/src/structures/ClientUser.js
discord_js/node_modules/discord.js/src/structures/DMChannel.js
discord_js/node_modules/discord.js/src/structures/Emoji.js
discord_js/node_modules/discord.js/src/structures/Guild.js
discord_js/node_modules/discord.js/src/structures/GuildAuditLogs.js
discord_js/node_modules/discord.js/src/structures/GuildChannel.js
discord_js/node_modules/discord.js/src/structures/GuildEmoji.js
discord_js/node_modules/discord.js/src/structures/GuildMember.js
discord_js/node_modules/discord.js/src/structures/GuildPreview.js
discord_js/node_modules/discord.js/src/structures/GuildPreviewEmoji.js
discord_js/node_modules/discord.js/src/structures/Integration.js
discord_js/node_modules/discord.js/src/structures/Invite.js
discord_js/node_modules/discord.js/src/structures/Message.js
discord_js/node_modules/discord.js/src/structures/MessageAttachment.js
discord_js/node_modules/discord.js/src/structures/MessageCollector.js
discord_js/node_modules/discord.js/src/structures/MessageEmbed.js
discord_js/node_modules/discord.js/src/structures/MessageMentions.js
discord_js/node_modules/discord.js/src/structures/MessageReaction.js
discord_js/node_modules/discord.js/src/structures/NewsChannel.js
discord_js/node_modules/discord.js/src/structures/PartialGroupDMChannel.js
discord_js/node_modules/discord.js/src/structures/PermissionOverwrites.js
discord_js/node_modules/discord.js/src/structures/Presence.js
discord_js/node_modules/discord.js/src/structures/ReactionCollector.js
discord_js/node_modules/discord.js/src/structures/ReactionEmoji.js
discord_js/node_modules/discord.js/src/structures/Role.js
discord_js/node_modules/discord.js/src/structures/StoreChannel.js
discord_js/node_modules/discord.js/src/structures/Team.js
discord_js/node_modules/discord.js/src/structures/TeamMember.js
discord_js/node_modules/discord.js/src/structures/TextChannel.js
discord_js/node_modules/discord.js/src/structures/User.js
discord_js/node_modules/discord.js/src/structures/VoiceChannel.js
discord_js/node_modules/discord.js/src/structures/VoiceRegion.js
discord_js/node_modules/discord.js/src/structures/VoiceState.js
discord_js/node_modules/discord.js/src/structures/Webhook.js
discord_js/node_modules/discord.js/src/structures/interfaces/Collector.js
discord_js/node_modules/discord.js/src/structures/interfaces/TextBasedChannel.js
discord_js/node_modules/discord.js/src/util/ActivityFlags.js
discord_js/node_modules/discord.js/src/util/BitField.js
discord_js/node_modules/discord.js/src/util/Collection.js
discord_js/node_modules/discord.js/src/util/Constants.js
discord_js/node_modules/discord.js/src/util/DataResolver.js
discord_js/node_modules/discord.js/src/util/Intents.js
discord_js/node_modules/discord.js/src/util/LimitedCollection.js
discord_js/node_modules/discord.js/src/util/MessageFlags.js
discord_js/node_modules/discord.js/src/util/Permissions.js
discord_js/node_modules/discord.js/src/util/Snowflake.js
discord_js/node_modules/discord.js/src/util/Speaking.js
discord_js/node_modules/discord.js/src/util/Structures.js
discord_js/node_modules/discord.js/src/util/SystemChannelFlags.js
discord_js/node_modules/discord.js/src/util/UserFlags.js
discord_js/node_modules/discord.js/src/util/Util.js
discord_js/node_modules/discord.js/typings/index.d.ts
discord_js/node_modules/discord.js/typings/index.ts
discord_js/node_modules/discord.js/webpack/discord.min.js
discord_js/node_modules/event-target-shim/index.d.ts
discord_js/node_modules/event-target-shim/LICENSE
discord_js/node_modules/event-target-shim/package.json
discord_js/node_modules/event-target-shim/README.md
discord_js/node_modules/event-target-shim/dist/event-target-shim.js
discord_js/node_modules/event-target-shim/dist/event-target-shim.js.map
discord_js/node_modules/event-target-shim/dist/event-target-shim.mjs
discord_js/node_modules/event-target-shim/dist/event-target-shim.mjs.map
discord_js/node_modules/event-target-shim/dist/event-target-shim.umd.js
discord_js/node_modules/event-target-shim/dist/event-target-shim.umd.js.map
discord_js/node_modules/mime-db/db.json
discord_js/node_modules/mime-db/HISTORY.md
discord_js/node_modules/mime-db/index.js
discord_js/node_modules/mime-db/LICENSE
discord_js/node_modules/mime-db/package.json
discord_js/node_modules/mime-db/README.md
discord_js/node_modules/mime-types/HISTORY.md
discord_js/node_modules/mime-types/index.js
discord_js/node_modules/mime-types/LICENSE
discord_js/node_modules/mime-types/package.json
discord_js/node_modules/mime-types/README.md
discord_js/node_modules/node-fetch/browser.js
discord_js/node_modules/node-fetch/CHANGELOG.md
discord_js/node_modules/node-fetch/LICENSE.md
discord_js/node_modules/node-fetch/package.json
discord_js/node_modules/node-fetch/README.md
discord_js/node_modules/node-fetch/lib/index.es.js
discord_js/node_modules/node-fetch/lib/index.js
discord_js/node_modules/node-fetch/lib/index.mjs
discord_js/node_modules/prism-media/LICENSE
discord_js/node_modules/prism-media/package.json
discord_js/node_modules/prism-media/README.md
discord_js/node_modules/prism-media/src/index.js
discord_js/node_modules/prism-media/src/core/FFmpeg.js
discord_js/node_modules/prism-media/src/core/index.js
discord_js/node_modules/prism-media/src/core/VolumeTransformer.js
discord_js/node_modules/prism-media/src/core/WebmBase.js
discord_js/node_modules/prism-media/src/opus/index.js
discord_js/node_modules/prism-media/src/opus/OggDemuxer.js
discord_js/node_modules/prism-media/src/opus/Opus.js
discord_js/node_modules/prism-media/src/opus/WebmDemuxer.js
discord_js/node_modules/prism-media/src/util/Constants.js
discord_js/node_modules/prism-media/src/util/loader.js
discord_js/node_modules/prism-media/src/vorbis/index.js
discord_js/node_modules/prism-media/src/vorbis/WebmDemuxer.js
discord_js/node_modules/prism-media/typings/index.d.ts
discord_js/node_modules/prism-media/typings/opus.d.ts
discord_js/node_modules/prism-media/typings/vorbis.d.ts
discord_js/node_modules/setimmediate/LICENSE.txt
discord_js/node_modules/setimmediate/package.json
discord_js/node_modules/setimmediate/setImmediate.js
discord_js/node_modules/tweetnacl/AUTHORS.md
discord_js/node_modules/tweetnacl/CHANGELOG.md
discord_js/node_modules/tweetnacl/LICENSE
discord_js/node_modules/tweetnacl/nacl-fast.js
discord_js/node_modules/tweetnacl/nacl-fast.min.js
discord_js/node_modules/tweetnacl/nacl.d.ts
discord_js/node_modules/tweetnacl/nacl.js
discord_js/node_modules/tweetnacl/nacl.min.js
discord_js/node_modules/tweetnacl/package.json
discord_js/node_modules/tweetnacl/PULL_REQUEST_TEMPLATE.md
discord_js/node_modules/tweetnacl/README.md
discord_js/node_modules/ws/browser.js
discord_js/node_modules/ws/index.js
discord_js/node_modules/ws/LICENSE
discord_js/node_modules/ws/package.json
discord_js/node_modules/ws/README.md
discord_js/node_modules/ws/lib/buffer-util.js
discord_js/node_modules/ws/lib/constants.js
discord_js/node_modules/ws/lib/event-target.js
discord_js/node_modules/ws/lib/extension.js
discord_js/node_modules/ws/lib/limiter.js
discord_js/node_modules/ws/lib/permessage-deflate.js
discord_js/node_modules/ws/lib/receiver.js
discord_js/node_modules/ws/lib/sender.js
discord_js/node_modules/ws/lib/stream.js
discord_js/node_modules/ws/lib/validation.js
discord_js/node_modules/ws/lib/websocket-server.js
discord_js/node_modules/ws/lib/websocket.js
files/~$Drydock Questions.xlsx
files/cleaned_questions.csv
files/questions_classified.csv
files/questions_duplicate.csv
files/questions_trainer.csv
files/questions.csv
files/questions.xlsx
config.py
discord_bot/__pycache__/config.cpython-37.pyc
discord_bot/__pycache__/question_get.cpython-37.pyc
__pycache__/config.cpython-37.pyc
__pycache__/question_classifier.cpython-37.pyc
__pycache__/question_get.cpython-37.pyc
files/questions_classified.xlsx
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/DryDock/v16/.suo
files/questions_classified_svc.xlsx
files/last_video.csv
discord_bot/__pycache__/question_classifier.cpython-37.pyc
discord_bot/__pycache__/question_scrapper.cpython-37.pyc
convolution
convolution_2
weights_convolution_2.h5
weights_convolution.h5
map.pkl
svc.pkl
files/Drydock Questions.xlsx
files/Drydock Questions.xlsx
files/Drydock Questions.xlsx
